<!DOCTYPE html>
<html>
    <head>
        {% block meta %}
            <meta charset="utf-8">
            <title>{% block title %}{% if title %}{{title}}{% else %}Tasks for today{% endif %}{% endblock %}</title>
            <link rel="stylesheet" href="/Static/default/css/style.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="shortcut icon" href="/Static/default/favicon.ico">

            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="header">
                <a href="/" id="logo" title="На главную">TODO</a>
                <span class="right">
                    {% if user.id == 0 %}
                        <span class="action"><i class="fa fa-registered"></i> <a href="/register/">Create an Accaunt</a></span> / <span class="action"><i class="fa fa-sign-in"></i> <a href="/authorize/">Sign in</a></span>
                    {% else %}
                        <span class="action"><i class="fa fa-sign-out"></i> <a href="/exit/">Exit</a></span>
                    {% endif %}
                    {% block complete %}
                        <span class="action"><i class="fa fa-check"></i> <a href="/task/view/complete/0/" title="All archive">Archive</a></span>
                    {% endblock %}
                </span>
            </div>
        </header>
        <div id="container">
            <nav>
                <ul>
                    <li class="{% if 'today' == sorting %}sort-active{% endif %}"><a href="/view/today/{{id_activePproject}}/">Today</a></li>
                    <li class="{% if 'week' == sorting %}sort-active{% endif %}"><a href="/view/week/{{id_activePproject}}/">Week</a></li>
                    <li class="{% if 'month' == sorting %}sort-active{% endif %}"><a href="/view/month/{{id_activePproject}}/">Month</a></li>
                </ul>
                <ul>
                    {% for project in projects %}
                        <li class="{% if project.id == id_activePproject %}project-active{% elseif project.task_lose %}project-lose{% endif %}">
                            <a href="/project/{{project.id}}/{% if sorting %}{{sorting}}/{% endif %}"><span class="color_project {{project.color}}"></span> {{project.lose}} {{project.title}}</a>
                            {% if project.task_active %}
                                <span class="counter">{{project.task_active}}</span>
                            {% endif %}
                            {% if user.id %}
                                <span id="menu{{project.id}}" data-action="action{{project.id}}" class="menu_action"><i class="fa fa-ellipsis-v"></i></span>
                                <ul class="action_load display_none" id="action{{project.id}}">
                                    <li><a href="/project/edit/{{project.id}}/">Edit</a></li>
                                    <li><a href="/project/delete/{{project.id}}/">Delete</a></li>
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {% if user.id %}
                        <ul>
                            <li id="Project"><a href="#" class="btn">Add project</a></li>
                            <li id="formProject">
                                <form class="form" action="/project/new/" method="post">
                                    <!-- <span id="typeProject"><input class="typeProject" type="text" name="typeProject" value="" disabled></span> -->
                                    <span id="typeProject"></span>
                                    <input type="hidden" name="color" value="red">
                                    <input type="text" name="title" value="" placeholder="Project name" pattern="^[А-ЯA-Za-zа-яЁё0-9|\s]{3,32}$"><br>
                                    <input type="submit" name="add" value="Add">
                                    <a href="#" class="cancel">Cancel</a>
                                </form>
                            </li>
                        </ul>
                {% endif %}
            </nav>
            <div class="container">
                <div class="messages">
                    {% for error in errors %}
                        <div class="error">
                            {{error}}
                        </div>
                    {% endfor %}
                    {% for message in messages %}
                        <div class="message">
                            {{message}}
                        </div>
                    {% endfor %}
                </div>

                {% block header_title %}
                    <div class="header_title">
                        <h1>{{block('title')}}</h1>
                    </div>
                {% endblock %}
                <div class="content">
                    {% block content %}{% endblock %}

                    {% block add_task %}
                        {% if user.id and projects %}
                            <div>
                                <a id="Task" href="#" class="btn">Add task</a>
                                <form id="formTask" class="form form-task" action="/task/new/" method="post">
                                    <input type="text" name="message" value="" placeholder="What you need to do" pattern="^[А-ЯA-Za-zа-яЁё0-9|\(|\)|\=]{3,1024}$">
                                    <input type="datetime-local" name="deadlines" value="{{current_data}}"><br>
                                    <!-- <span id="typeTask"><input class="typeTask" type="text" name="typeTask" value=""></span> -->
                                    <select class="" name="id_project">
                                    {% for project in projects %}
                                        <option value="{{project.id}}"{% if project.id == id_activePproject %} selected{% endif %}>{{project.title}}</option>
                                    {% endfor %}
                                    </select>

                                    <input type="hidden" name="color" value="red">
                                    <span id="typeTask"></span>
                                    <input type="submit" name="add" value="Add">
                                    <a href="#" class="cancel">Cancel</a>
                                </form>
                            </div>
                        {% endif %}
                    {% endblock %}

                </div>
            </div>
        </div>
        <footer>
            &copy; <span>by</span> Sanek_OS9<span>@mail.ru</span> <span class="right">Шаповал Александр Александрович</span>
        </footer>
        <script src="/Static/default/js/action.js" charset="utf-8"></script>
        <script src="/Static/default/js/form.js" charset="utf-8"></script>
    </body>
</html>
