<!DOCTYPE html>
<html>
    <head>
        {% block meta %}
            <meta charset="utf-8">
            <title>{% block title %}{% if title %}{{title}}{% else %}Все задачи{% endif %}{% endblock %}</title>
            <link rel="stylesheet" href="/Static/default/css/style.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="shortcut icon" href="/Static/default/favicon.ico">

            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="header">
                <span class="left">
                    <a href="/" title="На главную"><i class="fa fa-home"></i> Главная</a>
                    <a href="/faq/" title="На главную">F.A.Q</a>
                    {% block complete %}
                        <a href="/task/view/complete/0/" title="Выполненные задачи">Архив</a>
                    {% endblock %}
                </span>

                <span class="right">
                    {% if user.id == 0 %}
                        <span class="action"><i class="fa fa-registered"></i> <a href="/register/">Регистрация</a></span> / <span class="action"><i class="fa fa-sign-in"></i> <a href="/authorize/">Авторизация</a></span>
                    {% else %}
                        <span class="action"><i class="fa fa-sign-out"></i> <a href="/exit/?token={{user.url_token}}">Выход</a></span>
                    {% endif %}
                </span>
            </div>
        </header>
        <div id="container">
            <nav>
                <ul>
                    <li class="title">Период</li>
                    <li class="{% if 'today' == sorting %}sort-active{% endif %}"><a href="/view/today/{{id_activePproject}}/"><i class="fa fa-calendar"></i> Сегодня</a></li>
                    <li class="{% if 'week' == sorting %}sort-active{% endif %}"><a href="/view/week/{{id_activePproject}}/"><i class="fa fa-calendar"></i> Неделя</a></li>
                    <li class="{% if 'month' == sorting %}sort-active{% endif %}"><a href="/view/month/{{id_activePproject}}/"><i class="fa fa-calendar"></i> Месяц</a></li>
                </ul>
                <ul>
                    <li class="title">Проекты</li>
                    {% for project in projects %}
                        <li class="{% if project.id == id_activePproject %}project-active{% elseif project.task_lose %}project-lose{% endif %}">
                            <a href="/project/{{project.id}}/{% if sorting %}{{sorting}}/{% endif %}"><span class="color_project {{project.color}}"></span> {{project.lose}} {{project.title}}</a>
                            {% if project.task_active %}
                                <span class="counter" title="Активных задач: {{project.task_active}}">{{project.task_active}}</span>
                            {% endif %}
                            {% if project.management %}
                                <span id="menu{{project.id}}" data-action="action{{project.id}}" class="menu_action"><i class="fa fa-ellipsis-v"></i></span>
                                <ul class="action_load action_display" id="action{{project.id}}">
                                    <li><a href="/project/edit/{{project.id}}/">Изменить</a></li>
                                    <li><a href="/project/delete/{{project.id}}/?token={{user.url_token}}">Удалить</a></li>
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% if user.id %}
                        <li id="Project"><a href="#" class="btn">Добавить проект</a></li>
                        <li id="formProject">
                            {{form_project|raw}}
                        </li>
                {% endif %}
                </ul>
                <ul>
                    <li class="title">Команда</li>
                    {% for ank in users %}
                        <li>
                            <a href="#"><i class="fa fa-user"></i> {{ank.login}}</a>
                            <span class="counter" title="Проектов: {{ank.project_count}} | Задач: {{ank.task_count}}">{{ank.project_count}}/{{ank.task_count}}</span>
                            {% if user.group >= 3 and user.id != ank.id %}
                                <span id="menu{{ank.id}}" data-action="action{{ank.id}}" class="menu_action"><i class="fa fa-ellipsis-v"></i></span>
                                <ul class="action_load display_none" id="action{{ank.id}}">
                                    <li><a href="/user/delete/{{ank.id}}/?token={{user.url_token}}">Удалить</a></li>
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            <div class="container">
                <div class="messages">
                    {% for error in errors %}
                        <div class="error">
                            {{error}}
                        </div>
                    {% endfor %}
                    {% for message in messages %}
                        <div class="message">
                            {{message}}
                        </div>
                    {% endfor %}
                </div>

                {% block header_title %}
                    <div class="header_title">
                        <h1>{{block('title')}}</h1>
                    </div>
                {% endblock %}
                <div class="content">
                    {% block content %}{% endblock %}

                    {% block add_task %}
                        {% if user.id and projects %}
                            <div>
                                <a id="Task" href="#" class="btn">Добавить задачу</a>
                                <form id="formTask" class="form form-task" action="/task/new/" method="post">
                                    <input type="text" name="message" value="" placeholder="Что вам нужно сделать?" pattern="^[А-ЯA-Za-zа-яЁё0-9|\(|\)|\=]{3,1024}$">
                                    <input type="hidden" name="token" value="{{user.url_token}}">
                                    <input type="datetime-local" name="deadlines" value="{{current_data}}"><br>
                                    <select class="" name="id_project">
                                    {% for project in projects if project.management %}
                                        <option value="{{project.id}}"{% if project.id == id_activePproject %} selected{% endif %}>{{project.title}}</option>
                                    {% endfor %}
                                    </select>

                                    <input type="hidden" name="color" value="red">
                                    <span id="typeTask"></span>
                                    <input type="submit" name="add" value="Добавить">
                                    <a href="#" class="cancel">Отмена</a>
                                </form>
                            </div>
                        {% endif %}
                    {% endblock %}

                </div>
            </div>
        </div>
        <script src="/Static/default/js/action.js" charset="utf-8"></script>
        <script src="/Static/default/js/form.js" charset="utf-8"></script>
    </body>
</html>
