{% for task in tasks %}
    <div class="listing-post {% if task.lose == 1 %}lose{% endif %}">
        <span class="listing-status {{task.color}}"></span> {{task.message}}
        <div class="listing-right">
            <span class="project-name">{{task.title}}</span>
            <span class="listing-action {{task.importance}}"></span>

            {% if user.id %}
                <span class="listing-menu" id="listing{{task.id}}" data-action="listingAction{{task.id}}"> <i class="fa fa-ellipsis-v"></i> </span>
                <span class="action_load display_none" id="listingAction{{task.id}}">
                    {% if task.status == 1 %}
                        <a href="/task/complete/{{task.id}}/">Выполнить</a>
                        <a href="/task/edit/{{task.id}}/">Изменить</a>
                    {% endif %}
                    <a href="/task/delete/{{task.id}}/">Удалить</a>
                </span>
            {% endif %}
            <span class="listing-info-menu">
                <i class="fa fa-info-circle"></i>
            </span>
            <span class="listing-info">
                {{task.login}}<br>
                {{task.deadlines}}
            </span>
        </div>
        <hr>
    </div>
{% endfor %}
{% if tasks == null %}
    <div class="info">
        Задания еще не были добавлены
    </div>
{% endif %}
