{% for task in tasks %}
    <div class="listing-post {{task.cssClass}}">
        <div class="message">
            <span class="listing-status {{task.importance}}" title="{{task.importance_str}}"></span> {{task.message}}
        </div>
        <div class="listing-right">
            {% if task.status == 1 or task.id_user == user.id or project.id_user == user.id %}
                <span class="action_load action_display" id="listingAction{{task.id}}">
                    {% if task.status == 1 and (project.management or task.id_user_project == user.id) %}
                        <a href="/task/complete/{{task.id}}/?token={{user.url_token}}">{{__('Выполнено')}}</a>
                    {% endif %}
                    {% if task.status == 1 and (task.id_user == user.id or project.id_user == user.id) %}
                        <a href="/task/edit/{{task.id}}/">{{__('Изменить')}}</a>
                    {% endif %}
                    {% if task.id_user == user.id or project.id_user == user.id %}
                        <a href="/task/delete/{{task.id}}/?token={{user.url_token}}">{{__('Удалить')}}</a>
                    {% endif %}
                </span>
                <span class="listing-menu" id="listing{{task.id}}" data-action="listingAction{{task.id}}"> <i class="fa fa-ellipsis-v"></i> </span>
            {% endif %}
        </div>
        <div class="bottom">
            {% if project == null %}
                <span class="project-name">{{task.title}}</span>
                <span class="listing-action {{task.color}}"></span>
            {% endif %}
            <span class="listing-info-menu">
                <i class="fa fa-info-circle"></i>
            </span>
            <span class="listing-info">
                <span><i class="fa fa-user"></i> {{task.login}}</span>
                <span><i class="fa fa-calendar"></i> {{task.deadlines}}</span>
            </span>
        </div>
    </div>
{% endfor %}
{% if tasks == null %}
    <div class="info">
        {{__('Задачи еще не были добавлены')}}
    </div>
{% endif %}
