<!DOCTYPE html>
<html>
    <head>
        {% block meta %}
            <meta charset="utf-8">
            <title>{% block title %}{% if title %}{{title}}{% else %}{{__('Все задачи')}}{% endif %}{% endblock %}</title>
            <link rel="stylesheet" href="/Public/default/css/style.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="shortcut icon" href="/Public/default/favicon.ico">

            <script type="text/javascript" src="/Public/default/js/jquery-3.2.1.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="header">
                <span class="left">
                    <a href="{{url('/')}}" title="На главную"><i class="fa fa-home"></i> {{__('Главная')}}</a>
                    <a href="{{url('/faq/')}}" title="F.A.Q">F.A.Q</a>
                    {% block complete %}
                        <a href="{{url('/task/view/complete/0/')}}" title="Выполненные задачи">{{__('Архив')}}</a>
                    {% endblock %}
                </span>

                <span class="right">
                    <span class="localize">
                        <span class="action-user"><i class="fa fa-language"></i> <a href="/uk{{uri}}/">{{__('Украинский')}}</a></span>
                        <span class="action-user"><i class="fa fa-language"></i> <a href="/en{{uri}}/">{{__('Английский')}}</a></span>
                        <span class="action-user"><i class="fa fa-language"></i> <a href="/ru{{uri}}/">{{__('Русский')}}</a></span>
                    </span>
                    <span class="action-user current_lang"><i class="fa fa-language"></i> {{language.name}}</span>
                    {% if user.id == 0 %}
                        <span class="action"><i class="fa fa-registered"></i> <a href="{{url('/register/')}}">{{__('Регистрация')}}</a></span> / <span class="action"><i class="fa fa-sign-in"></i> <a href="{{url('/authorize/')}}">{{__('Авторизация')}}</a></span>
                    {% else %}
                        <span class="action-user"><i class="fa fa-user"></i> {{user.login}}</span>
                        <span class="action"><i class="fa fa-sign-out"></i> <a href="{{url('/exit/?token=' ~ user.url_token)}}">{{__('Выход')}}</a></span>
                    {% endif %}
                </span>
            </div>
        </header>
        <div id="container">
            <nav>
                <ul>
                    <li class="title">{{__('Период')}}</li>
                    <li class="{% if 'today' == sorting %}sort-active{% endif %}"><a href="{{url('/view/today/' ~ id_activePproject ~ '/')}}"><i class="fa fa-calendar"></i> {{__('Сегодня')}}</a></li>
                    <li class="{% if 'week' == sorting %}sort-active{% endif %}"><a href="{{url('/view/week/' ~ id_activePproject ~ '/')}}"><i class="fa fa-calendar"></i> {{__('Неделя')}}</a></li>
                    <li class="{% if 'month' == sorting %}sort-active{% endif %}"><a href="{{url('/view/month/' ~ id_activePproject ~ '/')}}"><i class="fa fa-calendar"></i> {{__('Месяц')}}</a></li>
                </ul>
                <ul>
                    <li class="title">{{__('Проекты')}}</li>
                    {% for project in projects %}
                        <li class="{% if project.id == id_activePproject %}project-active{% elseif project.task_lose %}project-lose{% endif %}">
                            <a href="{{url('/project/' ~ project.id ~ '/')}}{% if sorting %}{{sorting}}/{% endif %}"><span class="color_project {{project.color}}"></span> {{project.lose}} {{project.title}}</a>
                            {% if project.task_active %}
                                <span class="counter" title="{{__('Активных задач: %s', project.task_active)}}">{{project.task_active}}</span>
                            {% endif %}
                            {% if project.management %}
                                <span id="menu{{project.id}}" data-action="action{{project.id}}" class="menu_action"><i class="fa fa-ellipsis-v"></i></span>
                                <ul class="action_load action_display" id="action{{project.id}}">
                                    <li><a href="{{url('/project/edit/' ~ project.id ~ '/')}}">{{__('Изменить')}}</a></li>
                                    <li><a href="{{url('/project/delete/' ~ project.id ~ '/?token=' ~ user.url_token)}}">{{__('Удалить')}}</a></li>
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% if user.id %}
                        <li id="Project"><a href="#" class="btn">{{__('Добавить проект')}}</a></li>
                        <li id="formProject">
                            {{form_project|raw}}
                        </li>
                {% endif %}
                </ul>
                <ul>
                    <li class="title">{{__('Команда')}}</li>
                    {% for ank in users %}
                        <li>
                            <a href="#"><i class="fa fa-user"></i> {{ank.login}}</a>
                            {# <span class="counter" title="{{__('Проектов: %s - Задач: %s', ank.project_count, ank.task_count)}}">{{ank.project_count}}/{{ank.task_count}}</span> #}
                            {% if user.group >= 3 and user.id != ank.id %}
                                <span id="menu{{ank.id}}" data-action="action{{ank.id}}" class="menu_action"><i class="fa fa-ellipsis-v"></i></span>
                                <ul class="action_load action_display" id="action{{ank.id}}">
                                    <li><a href="{{url('/user/delete/' ~ ank.id ~ '/')}}">{{__('Удалить')}}</a></li>
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            <div class="container">
                <div class="messages">
                    {% for error in errors %}
                        <div class="error">
                            {{error}}
                        </div>
                    {% endfor %}
                    {% for message in messages %}
                        <div class="message">
                            {{message}}
                        </div>
                    {% endfor %}
                </div>

                {% block header_title %}
                    <div class="header_title">
                        <h1>{{block('title')}}</h1>
                    </div>
                {% endblock %}
                <div class="content">
                    {% block content %}{% endblock %}

                    {% if user.id and projects and add_task %}
                        <div>
                            <a id="Task" href="#" class="btn">{{__('Добавить задачу')}}</a>
                            {{form_task_new|raw}}
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
        <script src="/Public/default/js/action.js" charset="utf-8"></script>
        <script src="/Public/default/js/form.js" charset="utf-8"></script>
    </body>
</html>
