{% extends "app.twig" %}

{% block title %}
    Список сайтов
{% endblock title %}

{% block meta %}
    {{ parent() }}
    <link rel="stylesheet" href="/Static/default/css/distribution.css">
{% endblock meta %}

{% block content %}
    <div class="distribution">
        {% for distribution in distributions %}
        <div class="post">
            <span title="Название">{{distribution.title}} <a href="{{url('/distribution/admin/edit/' ~ distribution.id ~ '/')}}">[ред.]</a></span>
            <span title="Всего установок"> {{distribution.install_all}}</span>
            <span title="Лимит установок на час"> {{distribution.install_limit}}</span>
            <span title="Уже установлено за час"> {{distribution.install_hours}}</span>
            <span title="XPath">{{distribution.xpath}}</span>
        </div>
        {% endfor %}
        {% for row in 0..4 %}
            <div class="post">
                <span title="Название">Sausages <a href="#">[ред.]</a></span>
                <span title="Всего установок"> 67</span>
                <span title="Лимит установок на час"> 458</span>
                <span title="Уже установлено за час"> 67</span>
                <span title="XPath">0094eecb-728b-4bb8-aec2</span>
            </div>
        {% endfor %}
    </div>
   {{form_clear|raw}}
{% endblock content %}