{% extends 'document.twig' %}

{% block contnet %}

    <div class="listing">
        {% for task in tasks %}
            <div class="listing-post">
                <span class="listing-status {{task.color}}"></span> {{task.message}}
                <div class="listing-right">
                    <span class="project-name">{{task.title}}</span>
                    <span class="listing-action {% if task.status == 0 %}red{% else %}green{% endif %}"></span>
                    <span class="listing-menu" id="listing{{task.id}}" data-action="listingAction{{task.id}}"><i class="fa fa-ellipsis-v"></i></span>
                    <span class="display_none" id="listingAction{{task.id}}">
                        <a href="/task/complete/{{task.id}}/">Выполнить</a><br>
                        <a href="/task/edit/{{task.id}}/">Изменить</a><br>
                        <a href="/task/delete/{{task.id}}/">Удалить</a><br>
                    </span>
                </div>

                <hr>
            </div>
        {% endfor %}
    </div>
    <div>
        <a id="Task" href="#">+ Добавить задание</a>
        <form id="formTask" action="#" method="post">
            <input type="text" name="name_task" value="" placeholder="Что Вам необходимо сделать">
            <input type="date" name="name_date" value=""><br>
            <!-- <span id="typeTask"><input class="typeTask" type="text" name="typeTask" value=""></span> -->
            <select class="" name="project">
                <option value="1">Проект</option>
                <option value="2">Проект</option>
                <option value="3">Проект</option>
            </select>
            <span id="typeTask"></span>
            <button type="button" name="button">Добавить</button>
            <a href="#" class="cancel">Отменить</a>
        </form>
    </div>
{% endblock %}
